In [1]:
#Проект Natural Language Processing with Disaster Tweets
#ссылка на соревноание: https://www.kaggle.com/competitions/nlp-getting-started/data
#Яснев Максим/Петров Александр
#ссылка на GitHub: https://github.com/Maxyasnev/Natural-Language-Processing-with-Disaster-Tweets

In [2]:
#импортируем библиотеки
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [3]:
#считываем файлы
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [4]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [6]:
print(train.shape, test.shape)

(7613, 5) (3263, 4)

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB

In [9]:
train['keyword'].value_counts()

fatalities               45
deluge                   42
armageddon               42
sinking                  41
damage                   41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 221, dtype: int64

In [10]:
print(train.isna().sum())

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [11]:
print(test.isna().sum())

id             0
keyword       26
location    1105
text           0
dtype: int64

In [24]:
#заполняем пропуски средним значением и получаем довольно странный результат: в train обе строки с пропусками удалились, но добавилась строка Target, а в test Не изменилось ровным счетом ничего
train = train.fillna(train.mean(axis=0), axis = 0)
test = test.fillna(test.mean(axis=0), axis = 0)

C:\Users\user\AppData\Local\Temp\ipykernel_22756\4061800859.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  train = train.fillna(train.mean(axis=0), axis = 0)
C:\Users\user\AppData\Local\Temp\ipykernel_22756\4061800859.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  test = test.fillna(test.mean(axis=0), axis = 0)

In [25]:
print(train.isna().sum())

id        0
text      0
target    0
dtype: int64

In [26]:
print(test.isna().sum())

id             0
keyword       26
location    1105
text           0
dtype: int64